# Node
node_modules/
.next/
dist/

# Python
__pycache__/
*.pyc

# Virtual env
venv/
backend/venv/

# Environment
.env
.env.local
.env.*.local

# Build outputs
build/
out/

# OS/system files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.venv/
.coverage
rustup-init.exe
